.activeStyle {
  color: rgba(0, 0, 0, 0.9) !important;
  font-size: 1.2rem;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  font-weight: 500;
  letter-spacing: 0.08em;
  line-height: 1.4em;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border-style: solid;
  border-width: 0px 0px 2px;
  border-color: #27AAE1 !important;
}

@keyframes noise-anim{
  $steps:20;
  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      clip:rect(random(100)+px,9999px,random(100)+px,0);
    }
  }
}

@keyframes noise-anim-2{
  $steps:20;
  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      clip:rect(random(100)+px,9999px,random(100)+px,0);
    }
  }
}